1. I'm using Nuxt v3
2. I'm using Tailwind CSS V4
3. I'm new to Nuxt
4. I'm using Nuxt UI, the free version
5. I'm using @vueuse/motion/nuxt
7. I'm using netlify for form submission
8. I'm using nuxt-gtag for google analytics
9. Always prioritize the latest documentation for the tools that I'm using over what is on external sites.
10. Don't use radial gradient backgrounds
11. Use prettier rules for formatting